<div class="wrapper">
  <div (click)="handleClick();" (mouseover)="hovered = true" (mouseleave)="hovered = false">
    <label class="label" *ngIf="value || opened">{{searchable ? 'Autocomplete' : 'Dropdown'}}</label>
    <input *ngIf="!multiSelect && !searchable" (click)="(opened && value) ? value = '' : ''" [disabled]="!enabled"
           (keydown)="!searchable ? keyDownFunction($event) : ''"
           placeholder="{{opened ? null : placeholder}}" #dropdown="ngModel"
           [ngModel]="(value && opened) ? 'Select none' : value"
           [readonly]="!searchable"
           [ngClass]="opened ? 'drop-down-input-opened' : 'drop-down-input'">
    <input *ngIf="multiSelect" [disabled]="!enabled"
           placeholder="{{opened ? null : placeholder}}" #dropdown="ngModel"
           [ngModel]="(openedAgain && opened && multipleValue.length > 0) ? 'Select none' : (opened ? '' : value)"
           [readonly]="true" (click)="(openedAgain && opened && multipleValue.length > 0) ? clearChecks() : null"
           [ngClass]="opened ? 'drop-down-input-opened' : 'drop-down-input'">
    <input *ngIf="searchable && !multiSelect" [disabled]="!enabled" (input)="searchOption($event)"
           placeholder="{{opened ? null : placeholder}}" #dropdown="ngModel" [ngModel]="value" (click)="value = ''"
           [ngClass]="opened ? 'drop-down-input-opened' : 'drop-down-input'">
    <div [ngClass]="hovered ? 'invisible-rectangle' : 'rectangle'" *ngIf="enabled">
      <img [src]="(hovered  || opened) ? '../../assets/active.svg' : '../../assets/inactive.svg'" class="action-button"
           [ngClass]="opened ? 'rotateX180' : ''">
    </div>
    <img *ngIf="!enabled" src="../../assets/disabled.svg" class="disabled-action-button">
  </div>
  <div *ngIf="opened" class="drop-down-box">
    <div *ngFor="let item of filteredData ? filteredData : values; index as j" class="drop-down-option"
         (click)="chooseOption(item);" id={{j}} [ngClass]="value == item ? 'selected-option' : ''">
      <label *ngIf="multiSelect" class="checkbox">
        <input type="checkbox" name="{{item}}" value="{{item}}" [checked]="arrayContains(multipleValue ,item)"
               (change)="multipleChooseOption($event, item);">
        <span class="checkmark"></span>
        {{item['data']}}
      </label>
      <span *ngIf="!multiSelect">{{item}}</span>
    </div>
  </div>
</div>
