<div class="container">
    <app-drop-down [values]="autoCompleteData" placeholder="Autocomplete"
                   [enabled]="enable1" [searchable]="true"></app-drop-down>
    <app-drop-down [values]="defaultData" placeholder="Default Dropdown"
                   [enabled]="enable2" [searchable]="false"></app-drop-down>
  <app-drop-down [values]="multiSelectData" placeholder="Default Dropdown"
                 [enabled]="enable3" [searchable]="false" [multiSelect]="true"></app-drop-down>
</div>

<div class="tools">
  <h4>Enable/Disable</h4>
  <button (click)="enable1 = !enable1">Autocomplete</button>
  <button (click)="enable2 = !enable2">Default</button>
  <button (click)="enable3 = !enable3">CheckBox</button>
</div>
